   .fill-button {
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        
        .fill-button::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: white;
            transition: width 0.4s ease;
            z-index: -1;
        }
        
        .fill-button:hover::before {
            width: 100%;
        }
        
        .fill-button:hover {
            color: #111827;
        }

        .cubic{
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
        }